/* CSS Document */
@charset "utf-8";

html, body, wrapper {
	height: auto;
}
body {
	/*font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 12px;
	overflow-x: hidden !important;
	overflow-y: auto;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	   -moz-text-size-adjust: none;
		-ms-text-size-adjust: none;
}

.wrapper {
	position:relative;
	overflow-x:hidden;
	overflow-y:auto
}
.wrapper:before, .wrapper:after {
	content:" ";
	display:table
}
.wrapper:after {
	clear:both
}

.skin-light .main-header{
	background-color: #1ba1e2;
	position:relative;
	z-index:1030
}
.fixed .main-header {
	position:fixed;
	top:0;
	right:0;
	left:0
}

.skin-light .main-header .logo {
    color:#fff;
    border-bottom:0 solid transparent;
	display: block;
	float: left;
	line-height: 1;
	overflow: hidden;
	padding: 0px;
	text-align: center;
	width: 230px;
	position: relative;
	-webkit-transition:width .3s ease-in-out;
	   -moz-transition:width .3s ease-in-out;
		 -o-transition:width .3s ease-in-out;
			transition:width .3s ease-in-out;
}


.skin-light .main-header .sidebar-toggle {
	float:left;
	background-color:transparent;
	background-image:none;
	font-family:fontAwesome;
	font-size:14px;
}

.skin-light .main-header .sidebar-toggle:focus, 
.skin-light .main-header .sidebar-toggle:active {
	background:transparent
}

.skin-light .main-header > .sidebar-toggle {
    display: none;
	opacity: 0;
}
.skin-light .main-header > .sidebar-toggle, 
.skin-light .main-header .navbar > .sidebar-toggle {
    color: #fff;
    padding: 0;
    text-align: center;
	cursor: pointer;
}
.skin-light .main-header .navbar .sidebar-toggle:hover {
	/*background-color: #1479a9;*/
	background-color: #3ecdf1;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.3) inset;
	margin: 5px 0px;
	height: 50px;
	line-height: 50px;
}


.skin-light .main-header .navbar {
	margin-bottom: 0;
	margin-left: 230px;
	border: none;
	-webkit-transition: margin-left .3s ease-in-out;
	   -moz-transition: margin-left .3s ease-in-out;
		 -o-transition: margin-left .3s ease-in-out;
			transition: margin-left .3s ease-in-out;
}
.skin-light .line-separator {
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid #ddd;
    position: absolute;
    left: -2px;
    top: 13%;
    height: 74%;
    width: 1px;
}


.skin-light .main-header .main-logo-text{
	position: relative;
	top: 5px;
	left: 0px;
	width: 180px;
	display: block;
}
.skin-light .main-header .main-logo-extend{
	width: 300px;
	float: left;
	overflow: hidden;
	position: relative;
}
.skin-light .main-header .main-logo-extend > div{
	position: absolute;
	top: 2px;
	left: 40px;
}
.skin-light .main-header .main-logo-extend > div > p{
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 4px;
	color: #444;
}

.skin-light .main-header .navbar-custom-menu {
	float:right;
}
.skin-light .main-header .navbar-custom-menu > .navbar-nav > li {
	position:relative
}
.skin-light .main-header .navbar-custom-menu > .navbar-nav > li > a {
    color:#fff;
    padding: 0 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: " ...";
	font-size: 11px;
	cursor: pointer;
}
.skin-light .main-header .navbar-custom-menu > .navbar-nav > li > a:active, 
.skin-light .main-header .navbar-custom-menu > .navbar-nav > li > a:focus{
	background-color: #1ba1e2;	
}
.skin-light .main-header .navbar-custom-menu > .navbar-nav > li > a:hover,
.skin-light .main-header .navbar-custom-menu > .navbar-nav > .open > a, 
.skin-light .main-header .navbar-custom-menu > .navbar-nav > .open > a:hover, 
.skin-light .main-header .navbar-custom-menu > .navbar-nav > .open > a:focus{
	/*background-color: #1479a9;*/
	background-color: #3ecdf1;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.3) inset;
	margin: 5px 0px;
	height: 50px;
	line-height: 50px;
}
.skin-light .main-header .navbar-custom-menu > .navbar-nav > li.user > a > .fa,
.skin-light .main-header .navbar-custom-menu > .navbar-nav > li.user > a > .glyphicon,
.skin-light .main-header .navbar-custom-menu > .navbar-nav > li.user > a > .ion{
	margin-right: 5px;
}


/* START FADE ANIMATION DROPDOWN MENUS */
.skin-light .main-header .navbar-custom-menu > .navbar-nav > .open > .dropdown-menu {
	animation-name: fadeAnimation;
	animation-duration: .7s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	-webkit-animation-name: fadeAnimation;
	-webkit-animation-duration: .7s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-name: fadeAnimation;
	-moz-animation-duration: .7s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: forwards;
}
@keyframes fadeAnimation {
	from {
		opacity: 0;
		top: 120%;
	}
	to {
		opacity: 1;
		top: 100%;
	}
}
@-webkit-keyframes fadeAnimation {
	from {
		opacity: 0;
		top: 120%;
	}
	to {
		opacity: 1;
		top: 100%;
	}
}
/* END FADE ANIMATION DROPDOWN MENUS */

.skin-light .dropdown-menu {
	border-color: #eee;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}
.skin-light .dropdown-menu > li > a {
	color: #777;
}
.skin-light .dropdown-menu > li > a:hover {
	background-color:#e1e3e9;
	color: #333;
}
.skin-light .dropdown-menu > li > a > .glyphicon, 
.skin-light .dropdown-menu > li > a > .fa, 
.skin-light .dropdown-menu > li > a > .ion {
	margin-right: 10px;
}
.skin-light .navbar-nav > .user-menu > .dropdown-menu{
	padding: 1px 0 0 0;
	border-top-width: 0;
	width: 280px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	position:absolute;
	right:0;
	left:auto;
}



.skin-light .navbar-nav > .user-menu > .dropdown-menu > li.user-header{
    background-color: #1ba1e2;
	height: auto;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	padding: 10px;
	text-align: center;	
}
.skin-light .navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
	z-index: 5;
	height: 90px;
	width: 90px;
	border: 3px solid #f0f0f0;
}
.skin-light .navbar-nav > .user-menu > .dropdown-menu > li.user-header > .wrap-notris {
	padding: 10px;
	background-color: #f9f9f9;
	border: 4px solid #d5d5d5;
	overflow-wrap: break-word;
	-webkit-border-radius: 8px;
			border-radius: 8px;
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5) inset; 
			box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5) inset; 
}
.skin-light .navbar-nav > .user-menu > .dropdown-menu > li.user-header > .wrap-notris > .notris-satu {
	color: #777;
	font-size: 17px;
	font-weight: 700;
	margin: 0px;
}
.skin-light .navbar-nav > .user-menu > .dropdown-menu > li.user-header > .wrap-notris > .notris-dua {
	color: #777;
	font-size: 13px;
	font-weight: 500;
	margin: 0px;
}

.skin-light .navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
	z-index: 5;
	color: #fff;
	font-size: 17px;
	margin-top: 10px;
}
.skin-light .navbar-nav > .user-menu > .dropdown-menu > li.user-header > p >small {
	display: block;
	font-size: 12px;
}
.skin-light .navbar-nav > .user-menu > .dropdown-menu > .user-footer {
	background-color: #f9f9f9;
	padding: 10px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.skin-light .navbar-nav > .user-menu > .dropdown-menu > .user-footer:before, 
.skin-light .navbar-nav > .user-menu > .dropdown-menu > .user-footer:after {
	content:" ";
	display:table
}
.skin-light .navbar-nav > .user-menu > .dropdown-menu > .user-footer:after {
	clear:both
}

/** START MAIN SIDEBAR **/
.skin-light .main-sidebar, .skin-light .left-side {
	background-color: #f9f9f9;
	border-right: 2px solid #ddd;
	position:absolute;
	top:0;
	left:0;
	min-height: 100%;
	width: 230px;
	z-index: 810;
	-webkit-transition: left .3s ease-in-out;
	   -moz-transition: left .3s ease-in-out;
		 -o-transition: left .3s ease-in-out;
			transition: left .3s ease-in-out;
}
.fixed .main-sidebar, .fixed .left-side{
	position: fixed;
}
.sidebar-open .main-sidebar, .sidebar-open .left-side{
	left: 0px;
}
.sidebar-collapse .main-sidebar, .sidebar-collapse .left-side{
	left: -230px;
	
}
.skin-light .main-sidebar .user-panel {
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
	color: #555;
	display: block;
	font-size: 11px;
	font-weight: 600;
	height: 35px;
	line-height: 35px;
	padding: 0px 10px;
	width: 100%;
	position: relative;
	z-index: 100;
	-webkit-box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.5);
	   -moz-box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.5);
			box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.5);
}
/** END MAIN SIDEBAR **/


/** START CONTENT WRAPPER **/
.skin-light .content-wrapper, .skin-light .right-side, .skin-light .main-footer {
	margin-left: 230px;
	z-index: 820;
	-webkit-transition:-webkit-transform .3s ease-in-out, margin .3s ease-in-out;
	   -moz-transition:-moz-transform .3s ease-in-out, margin .3s ease-in-out;
		 -o-transition:-o-transform .3s ease-in-out, margin .3s ease-in-out;
			transition:transform .3s ease-in-out, margin .3s ease-in-out;
}
.skin-light .content-wrapper, .skin-light .right-side {
	background-color: #fff;
	min-height: 100%;
	z-index: 800;
}

.skin-light .content-wrapper > .content-header{
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
	padding: 0px 15px;
	height: 35px;
	max-height: 35px;
	overflow: hidden;
	position: fixed;
	width: 100%;
	z-index: 800;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
	   -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
			box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
}
.skin-light .content-wrapper > .content-header > h1 {
	color: #333;
	font-size: 17px;
	font-weight: 600;
	margin: 0;
	line-height: 35px;
}
.skin-light .content-wrapper > .content-header > h1 > small {
	font-size: 13px;
	display: inline-block;
	padding-left: 8px;
	font-weight: 300;
}

.skin-light .content-wrapper > .content {
	min-height: 250px;
	padding: 50px 15px 15px;
	margin: 0px auto;
}
/** END CONTENT WRAPPER **/


/** START FOOTER **/
.main-footer {
	background-color: #fff;
	/*border-top: 3px double #ddd;*/
    color: #333;
    padding: 10px 10px 7px;
	position: relative;
}
.main-footer .border-batas{
	 position: absolute;
	 left: 10px;
	 right: 10px;
	 top: 0px;
	 border-top: 3px double #ddd;
}
.main-footer p{
	margin: 0px;
	padding: 0px 20px;
	font-size: 12px;
	font-weight: bold;
}
.main-footer p .footer1{
	float: right;
}
.main-footer p .footer2{
	float: left;
}
/** END FOOTER **/


/** START TINGGI HEADER **/
.skin-light .main-header{
	max-height: 121px;
}
.skin-light .main-header .logo {
	height: 60px;
}
.skin-light .main-header .navbar {
    min-height: 60px;
}

.skin-light .main-header > .sidebar-toggle, 
.skin-light .main-header .navbar > .sidebar-toggle {
    width: 40px;
    height: 60px;
    line-height: 60px;
}

.fixed .main-sidebar, .fixed .left-side{
	padding-top: 60px;
}
.fixed .content-wrapper, .fixed .right-side {
	padding-top: 60px;
}

.skin-light .main-header .navbar-custom-menu > .navbar-nav > li > a {
    height: 60px;
    line-height: 60px;
}

@media (max-width:767px) {
	.fixed .main-sidebar, .fixed .left-side{
		padding-top: 121px;
	}
	.fixed .content-wrapper, .fixed .right-side {
		padding-top: 121px;
	}
}
/** END TINGGI HEADER **/


@media (max-width:1060px) {
	.skin-light .main-header .navbar-custom-menu > .navbar-nav > li > a {
		max-width: 400px;
	}
}

@media (max-width:991px) {
	.skin-light .main-header .navbar-custom-menu > .navbar-nav {
		margin: 0;
		float: left;
	}
	.skin-light .main-header .navbar-custom-menu > .navbar-nav > li {
		float: left;
	}
	.skin-light .main-header .navbar-custom-menu > .navbar-nav > li > a {
		max-width: 230px;
	}
	.skin-light .navbar-nav > .user-menu > .dropdown-menu > .user-footer a{
		background-color: #00c0ef;
		color: #fff;
	}
}

@media (max-width:830px) {
	.skin-light .main-header .navbar-custom-menu > .navbar-nav > li > a {
		max-width: 180px;
	}
}

@media (min-width:768px) {
	.sidebar-collapse .content-wrapper, 
	.sidebar-collapse .right-side, 
	.sidebar-collapse .main-footer {
		margin-left:0
	}
}
@media (max-width:767px) {
	.skin-light .main-sidebar, 
	.skin-light .left-side{
		left: -230px;
	}
	.sidebar-open .main-sidebar, 
	.sidebar-open .left-side{
		left: 0px;
	}
	.skin-light .content-wrapper, 
	.skin-light .right-side, 
	.skin-light .main-footer {
		margin-left: 0;
	}
	.sidebar-open .content-wrapper, 
	.sidebar-open .right-side, 
	.sidebar-open .main-footer {
		-webkit-transform:translate(230px, 0);
			-ms-transform:translate(230px, 0);
			 -o-transform:translate(230px, 0);
				transform:translate(230px, 0)
	}
}
@media screen and (max-width: 767px) {
	.skin-light .main-header .logo{
		float: none;
		width: 100%;
    	/*background-color: #1479a9;
    	background-color: #3c8dbc;*/
		text-align: left;
		border-bottom: 1px solid rgba(0,0,0,0.15);
		padding-left: 15px;
	}
	.skin-light .main-header > .sidebar-toggle {
		display: block;
		opacity: 1;
		font-size: 14px;
		margin: 0px;
	}
	.skin-light .main-header .logo > .sidebar-toggle:hover {
		background-color: #1479a9;
	}
	.skin-light .line-separator {
		display: none;
		opacity: 0;
	}
	/*.skin-light .main-header .navbar > .sidebar-toggle {
		display: none;
		opacity: 0;
	}*/
	.skin-light .main-header .navbar{
		border-top: 1px solid #ddd;
		margin: 0;
		width: 100%;
		float: none;
	}
	.skin-light .main-header .navbar-custom-menu {
		float: right;
	}
	.skin-light .main-header .navbar-custom-menu > .navbar-nav > li > a {
		max-width: 250px;
	}
}

@media (max-width:590px) {
	.skin-light .main-header .navbar-custom-menu > .navbar-nav > li > a {
		max-width: 170px;
	}
}

@media (max-width:479px) {
	.skin-light .main-header .navbar-custom-menu > .navbar-nav > li.user > a > .fa,
	.skin-light .main-header .navbar-custom-menu > .navbar-nav > li.user > a > .glyphicon,
	.skin-light .main-header .navbar-custom-menu > .navbar-nav > li.user > a > .ion{
		margin-right: 0px;
	}
	.skin-light .main-header .navbar-custom-menu > .navbar-nav > li > a > span {
		display: none;
		opacity: 0;
	}
	.main-footer p{
		text-align: center;
	}
	.main-footer p .footer1{
		float: none;
		display: block;
	}
	.main-footer p .footer2{
		float: none;
		display: block;
	}
}

@media (max-width:380px) {
	.skin-light .main-header .main-logo-extend{
		width: 230px;
	}
	.skin-light .main-header .main-logo-extend > img{
		margin-left: -28px;
	}
}

